{% extends 'base.html.twig' %}

{% block title "Toutes les Recettes" %}

{% block body %}
	<div>
		<p>lorem ipsum dolor sit amet, consectetur adipis null a ante dict     sit amet et al. Lorem Ipsum is simply dummy text of the printing and types grammar used for large
						text documents. Lorem Ipsum is simply dummy text of the printing and types grammar used for large text documents. Lorem Ipsum is simply dummy text of the printing and types grammar used for large text documents.
		</p>
		<ul>
			{% for recipe in recipes %}
				<li>
					<a href="{{ url('recipe.show', {id: recipe.id, slug: recipe.slug }) }}">{{ recipe.title }}<a/>
				</li>
			{% endfor %}
				
		</ul>

	</div>
{% endblock %}